@font-face {
  font-family: 'Helvetica Neue';
  src: url('assets/fonts/HelveticaNeueMedium.eot');
  src: url('assets/fonts/HelveticaNeueMedium.eot?#iefix') format('embedded-opentype'),
  url('assets/fonts/HelveticaNeueMedium.woff2') format('woff2'),
  url('assets/fonts/HelveticaNeueMedium.woff') format('woff'),
  url('assets/fonts/HelveticaNeueMedium.ttf') format('truetype'),
  url('assets/fonts/HelveticaNeueMedium.svg#HelveticaNeueMedium') format('svg');
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue Light';
  src: url('assets/fonts/HelveticaNeue-Thin.eot');
  src: url('assets/fonts/HelveticaNeue-Thin.eot?#iefix') format('embedded-opentype'),
      url('assets/fonts/HelveticaNeue-Thin.woff2') format('woff2'),
      url('assets/fonts/HelveticaNeue-Thin.woff') format('woff'),
      url('assets/fonts/HelveticaNeue-Thin.ttf') format('truetype'),
      url('assets/fonts/HelveticaNeue-Thin.svg#HelveticaNeue-Thin') format('svg');

  font-style: normal;
}

@font-face {
  font-family: 'Sign Painter';
  src: url('assets/fonts/SnyderRegular.eot');
  src: url('assets/fonts/SnyderRegular.eot?#iefix') format('embedded-opentype'),
      url('assets/fonts/SnyderRegular.woff2') format('woff2'),
      url('assets/fonts/SnyderRegular.woff') format('woff'),
      url('assets/fonts/SnyderRegular.ttf') format('truetype'),
      url('assets/fonts/SnyderRegular.svg#SnyderRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Kozuka Gothic Pro';
  src: url('assets/fonts/KozGoPro-Medium-AlphaNum.eot');
  src: url('assets/fonts/KozGoPro-Medium-AlphaNum.eot?#iefix') format('embedded-opentype'),
      url('assets/fonts/KozGoPro-Medium-AlphaNum.woff2') format('woff2'),
      url('assets/fonts/KozGoPro-Medium-AlphaNum.woff') format('woff'),
      url('assets/fonts/KozGoPro-Medium-AlphaNum.ttf') format('truetype'),
      url('assets/fonts/KozGoPro-Medium-AlphaNum.svg#KozGoPro-Medium-AlphaNum') format('svg');
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", "Roboto", "Oxygen","Ubuntu", "Cantarell", "Fira Sans", "Droid Sans";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.container {
  width: 100%;
  max-width: 475px;
  margin: auto;
}

